nav.navbar.navbar-expand-sm.navbar-light.navbar-custom
  a.navbar-brand(href='/')
    img(src='/images/blueberry_breakaway1.png' height="70" width="100")
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
    ul.navbar-nav.nav-fill.w-100
      li.nav-item.ml-auto
        a.nav-link(href='#')
          | Home
          span.sr-only (current)
      li.nav-item.ml-auto
        a.nav-link(href='#') Contact
      li.nav-item.ml-auto
        a.nav-link(href='#') About
      li.nav-item.dropdown.ml-auto
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Product Info
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink').dropdown-background
          a.dropdown-item(href='/berries') Blueberries
          a.dropdown-item(href='/bakedGoods') Baked Goodies
          a.dropdown-item(href='/jarsOfYum') Jars of Yum
          a.dropdown-item(href='/baskets') Baskets
