nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href='#')
    img(src='/images/blueberry_breakaway1.png' height="70" width="100")
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
    ul.navbar-nav.nav-fill.w-100
      li.nav-item.active.ml-auto
        a.nav-link(href='#')
          | Home
          span.sr-only (current)
      li.nav-item.ml-auto
        a.nav-link(href='#') Features
      li.nav-item.ml-auto
        a.nav-link(href='#') Pricing
      li.nav-item.dropdown.ml-auto
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Dropdown link
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
