extends layout

block content

  .container.text-center.pb-5
    h1.index-header.mt-5 Four a Day Berries
    h4.mb-5 Meet the Owner
 
    .row.align-items-center
      .col-lg-3
        p.text-left.p-3.transparent-bg This is Laural Schmidt, the farmer behind it all! Laural has been baking and crafting her entire life. She is a woman of many talents; one of which, is gardening. She has had a garden for over 35 years and finally decided to plant blueberry bushes in 2006. 
      .col-lg-6.my-5
        img.img-fluid.img-thumbnail(src="/images/momma.jpg")
      .col-lg-3.my-3
        p.text-left.p-3.transparent-bg Everything took off from there. She began small with only 20 blueberry bushes. Slowly but surely, she planted more bushes of different varieties.