extends layout

block content

  .container.text-center
    h1.index-header.my-2 Four a Day Berries

    h4 Loral Ipsum dolor sit amet
    img.img-fluid.img-thumbnail.my-2(src="/images/momma.jpg")

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie dictum nisi vehicula pulvinar. Donec gravida convallis laoreet. Ut vel libero vitae odio vehicula mollis. Vestibulum eu dolor risus. Integer laoreet, tellus sed consequat vestibulum, purus tellus vulputate mauris, at dapibus orci odio et arcu. Donec a volutpat est. Sed faucibus laoreet erat at bibendum.

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie dictum nisi vehicula pulvinar. Donec gravida convallis laoreet. Ut vel libero vitae odio vehicula mollis. Vestibulum eu dolor risus. Integer laoreet, tellus sed consequat vestibulum, purus tellus vulputate mauris, at dapibus orci odio et arcu. Donec a volutpat est. Sed faucibus laoreet erat at bibendum.
