extends layout

block content

  .container.text-center.mb-5

    h1.index-header.py-5 Baked Goods

    .row.pb-5
      .col-lg-6.pb-5
        h3.pb-3 Variety, Variety, Variety!
        img.img-fluid.img-thumbnail(src="/images/bakedGoods.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 The selection at the farmers market is always changing but one thing is always available: Giant Blueberry Muffin Tops! Four a Day Berries doesn't just make blueberry desserts. Cookies, breads, muffins, and more are all offered at the farmers market. There could be strawberry banana bread, chocolate zucchini bread, peach jam cookies, and Blueberry Muffin Tops one weekend and the next there could be lemon zucchini bread, strawberry hazelnut cupcakes, blackberry jam cookies, and Blueberry Muffin Tops.  

    .row
      .col-lg-6
        h3.pb-3 Pre-order!
        img.img-fluid.img-thumbnail.mb-5(src="/images/bakedPrep.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 Did you get to the market a little too late and missed out on your favorite baked good? Want to make sure that doesn't happen again? You can place an order and prepay to make sure what you want and the amount you want is boxed up and ready to go on the next Saturday. You can also place an order to be picked pick up when you visit the farm to pick blueberries! 
