extends layout

block content

  .container.text-center.mb-5

    h1.index-header.py-5 Baskets

    .row.pb-5
      .col-lg-6.pb-5
        h3.pb-3 Basket Weaver?
        img.img-fluid.img-thumbnail(src="/images/basketWeaving.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 Laural Schmidt was not originally a basket weaver, but she has always been an artist. She has been doing crafts and attending craft fairs with her children for over 20 years. A couple years ago, her best friend introduced her to the art of basket weaving and she has been hooked ever since. 

    .row
      .col-lg-6
        h3.pb-3 Yes, Basket Weaver!
        img.img-fluid.img-thumbnail.mb-5(src="/images/baskets.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 Now, you can purchase many different baskets of varrying shapes, styles, colors, and reed types. She uses flat and round reed. Not only can you just purchase a basket, but she has a gift basket deal as well! You can get a basket with varying options! Jelly or jam with a fresh loaf of bread and a little silver spoon is a popular option. You can also get pancake mix with fruit syrup or even muffin mix with fresh blueberries when they are in season. Prices on gift baskets vary depending on what the product is. Call for details or to design your own!