extends layout

block content

  .container.text-center.mb-5

    h1.index-header.py-5 Baskets

    .row.pb-5
      .col-lg-6.pb-5
        h3.pb-3 Lorem ipsum dolor
        img.img-fluid.img-thumbnail(src="/images/baskets.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie dictum nisi vehicula pulvinar. Donec gravida convallis laoreet. Ut vel libero vitae odio vehicula mollis. Vestibulum eu dolor risus. Integer laoreet, tellus sed consequat vestibulum, purus tellus vulputate mauris, at dapibus orci odio et arcu. Donec a volutpat est. Sed faucibus laoreet erat at bibendum.

    .row
      .col-lg-6
        h3.pb-3 Lorem ipsum dolor
        img.img-fluid.img-thumbnail.mb-5(src="/images/basketWeaving.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie dictum nisi vehicula pulvinar. Donec gravida convallis laoreet. Ut vel libero vitae odio vehicula mollis. Vestibulum eu dolor risus. Integer laoreet, tellus sed consequat vestibulum, purus tellus vulputate mauris, at dapibus orci odio et arcu. Donec a volutpat est. Sed faucibus laoreet erat at bibendum.