extends layout

block content

  .container.text-center.mb-5

    h1.index-header.py-5 Blueberries

    .row.pb-5
      .col-lg-6.pb-5
        h3.pb-3 Farmers Market
        img.img-fluid.img-thumbnail(src="/images/KY-proud.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 There are many ways to get ahold of our blueberries. If you want to visit us at the Burkesville farmers market, we sell berries by the pint. It's first come first serve. You can also call us ahead and ask us to reserve a certain amount. Pickup times are before 9 on Saturdays. If you do not arrive to pick up your berries, you lose your order and we will sell them to other customers. We wouldnt want berries to go bad waiting to be picked up.

    .row
      .col-lg-6
        h3.pb-3 Farm Visit
        img.img-fluid.img-thumbnail.mb-5(src="/images/blueberry-pints-2.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 If you want to make a visit to the farm, we have different options as well. Call and place an order ahead of time if you do not want to pick your own. We may have some already picked that you can swing by and purchase or we will fill your order before you arrive. Picking takes time, so please call far enough in advance that we have time to get your order ready. You can also pick your own berries while here! Just call to set a time so we know when you will be arriving. 
