extends layout

block content
  .container.text-center

    h1.index-header.my-5 Contact
  .container.text-center
    .row
      .col-lg-4
        .list-group.contactMe
          a(href="https://www.facebook.com/profile.php?id=100011198563250" target="_blank").text-center
            i.fab.fa-facebook-f.fa-4x
            p Facebook
      .col-lg-4
        .list-group.contactMe
          a(href="mailto:laural.a.schmidt@gmail.com").text-center
            i.far.fa-envelope.fa-4x
            p Email
      .col-lg-4
        .list-group.contactMe
          a(href="tel:+12704879106").text-center
            i.fas.fa-phone.fa-4x.mb-2
            p Phone: (270)487-9106
