extends layout

block content

  .container.pb-5
    h1.index-header.my-5.text-center Frequently Asked Questions

    ol.transparent-bg
      li.font-weight-bold What types of blueberries do you grow?
      p I grow different types that grow in different parts of the growing season. Northern High bush grow early to mid season. These varieties include Star, Stark blue, Oneil and Misty. Southern High bush grow mid to late season. These varieties include Climax and Tifblue.

      li.font-weight-bold Can I pick my own berries?
      p Yes! Call to make an appointment so we can get buckets ready for you!

      li.font-weight-bold When the season begins, when are you open for picking?
      p We are open for self pick by appointment. Call to set up a time to visit.

      li.font-weight-bold What should I wear to pick blueberries?
      p Blueberries grow on thornless bushes. You do not have to wear anything special.

      li.font-weight-bold What do I need to bring with me?
      p We provide everything you need to pick the berries: buckets and to-go containers. We would suggest you wear sunscreen and bring water, especially if you come during the hotter hours of the day.

      li.font-weight-bold What forms of payment are accepted?
      p Cash or money order. Sorry, but no credit cards are accepted at this time. 

      li.font-weight-bold Can the whole family come?
      p Of course! The more the merrier! Children must be accompanied by an adult though. 

      li.font-weight-bold Are pets allowed?
      p YES! We love pets. We do, however, have pets of our own. We ask that you keep your pets on a leash until you know for certain how the pets will interact. 

      li.font-weight-bold Do I have to pick berries or can I buy pre-picked?
      p Because blueberries are picked and sold at farmers markets, we dont always have some already picked. For this reason, pre picked is first come first serve. You can call ahead of time and place an order. 

      li.font-weight-bold Do you sell blueberry plants?
      p In previous years, I have not sold plants (the deer ate the starts!). Next season (2019) this changes! We will be selling plants in pots. This year we will have two year old potted plants. Next year we will have two and three year plants. Call for prices!
