extends layout

block content

  .container
    h1.index-header.my-2.text-center Frequently Asked Questions

    ol
      li.font-weight-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit?
      p Cras molestie dictum nisi vehicula pulvinar. Donec gravida convallis laoreet. Ut vel libero vitae odio vehicula mollis. Vestibulum eu dolor risus. Integer laoreet, tellus sed consequat vestibulum, purus tellus vulputate mauris, at dapibus orci odio et arcu. Donec a volutpat est.

      li.font-weight-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit?
      p Proin congue tellus ac arcu faucibus volutpat. Pellentesque luctus, lectus ac tincidunt ullamcorper, sem risus faucibus mauris, quis maximus felis dui et dui. Nunc sed tellus condimentum, maximus mauris iaculis, facilisis felis.

      li.font-weight-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit?
      p Proin congue tellus ac arcu faucibus volutpat. Pellentesque luctus, lectus ac tincidunt ullamcorper, sem risus faucibus mauris, quis maximus felis dui et dui. Nunc sed tellus condimentum, maximus mauris iaculis, facilisis felis.

      li.font-weight-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit?
      p Proin congue tellus ac arcu faucibus volutpat. Pellentesque luctus, lectus ac tincidunt ullamcorper, sem risus faucibus mauris, quis maximus felis dui et dui. Nunc sed tellus condimentum, maximus mauris iaculis, facilisis felis.

      li.font-weight-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit?
      p Proin congue tellus ac arcu faucibus volutpat. Pellentesque luctus, lectus ac tincidunt ullamcorper, sem risus faucibus mauris, quis maximus felis dui et dui. Nunc sed tellus condimentum, maximus mauris iaculis, facilisis felis.
