extends layout

block content

  .container.text-center.h-100.pb-5

    h1.index-header.my-5 Four a Day Berries
    .row.align-items-center
      .col-lg-3
        p.text-left.p-3.transparent-bg Welcome! Four a Day Berries is a small business owned and operated in Monroe County Kentucky. Originally, started as a small farm that used its berries to produce wonderful blueberry jelly and decadent baked goods, it has grown to be so much more!
      .col-lg-6.my-5
        img.img-fluid.img-thumbnail(src="images/setup.jpg")
      .col-lg-3.my-3
        p.text-left.p-3.transparent-bg Blueberries are only part of the produce utilized today. You can find jams and jellies from multiple types of fruit (and vegetables), salsas, spaghetti and pizza sauce, and relishes! And thats just the canned goods! Four a day Berries also sells baked goods of many varieties, hand woven baskets made of flat and round reed, and for a short period of time during the growing season, allows guests to tour the farm and pick their own fresh blueberries! 
