extends layout

block content

  .container.text-center
    h3.my-2 Lorem ipsum dolor
    .row.justify-content-center.my-2
      img.img-fluid.img-thumbnail.berries(src="/images/jars.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie dictum nisi vehicula pulvinar. Donec gravida convallis laoreet. Ut vel libero vitae odio vehicula mollis. Vestibulum eu dolor risus. Integer laoreet, tellus sed consequat vestibulum, purus tellus vulputate mauris, at dapibus orci odio et arcu. Donec a volutpat est. Sed faucibus laoreet erat at bibendum.
    h3.my-2 Lorem ipsum dolor
    .row.justify-content-center.my-2
      img.img-fluid.img-thumbnail.berries(src="/images/jellies.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie dictum nisi vehicula pulvinar. Donec gravida convallis laoreet. Ut vel libero vitae odio vehicula mollis. Vestibulum eu dolor risus. Integer laoreet, tellus sed consequat vestibulum, purus tellus vulputate mauris, at dapibus orci odio et arcu. Donec a volutpat est. Sed faucibus laoreet erat at bibendum.
