extends layout

block content

  .container.text-center.mb-5

    h1.index-header.py-5 Canned Goods

    .row.pb-5
      .col-lg-6.pb-5
        h3.pb-3 Jams, Jellies, Syrups
        img.img-fluid.img-thumbnail(src="/images/jellies.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 Four a Day berries grows many types of fruits. This means many types of fruit jellies, jams, and Syrups! Strawberry, Raspberry, Blackberry, Apple, and Peach are available fruit flavors. On top of that, you can also find multiple flavors of pepper jellies! From mild to HOT HOT HOT, there is a pepper jelly for any taste buds: Bell pepper, Chili Pepper, Jalepeno, Habenero, and Volcano Pepper to name a few! 

    .row
      .col-lg-6
        h3.pb-3 Salsas and Sauces
        img.img-fluid.img-thumbnail.mb-5(src="/images/jars.jpg")
      .col-lg-6.d-flex.align-items-center
        p.transparent-bg.p-3 Did we mention the savory collection? If you dont like jellies you can also find a wide variety of salsas (including ghost pepper and habenero pepper), spaghetti sauce, pizza sauce, sloppy joe sauce, dill pickle relish, and sweet pepper relish. 
